{% extends "layout.html" %}
{% block title %}Not Authorized{% endblock %}
{% block page %}Not Authorized{% endblock %}


{% block styles %}
{% endblock %}

{% block content %} 
<body class="expired-container">
  <div class="expired-row">
    <div class="expired-section">
      <p class="card-title">Your not authorized to access this page due to session expiration or lack of authentication</p>
    </div>
  </div>
  <div class="expired-row">
    <div class="col">
      <a href="/" class="btn">Login</a>
    </div>
  </div>
</body>
{% endblock %}