{% extends "layout.html" %}
{% block title %}MEEI Procurement Database{% endblock %}
{% block page %}All Lines of Business{% endblock %}

{% block link%}
    <ul id="nav-mobile" class="right-nav-links">
        <li><a href="/logout">Logout</a></li>
    </ul>
    <ul id="nav-mobile" class="left-nav-links">
        <li><a href="/home">Home</a></li>
    </ul>
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %} 
  <body class="route_data-container">
    <main class="container">
      <div class="data-form">
        <form  method="GET" action="/layer1" autocomplete="off">
          <div class="action-row">
            <div class="data_input-field">
              <input class="search-field" value="{{q}}" name="q" type="search" placeholder="Search">
            </div>
            <div class="action-buttons">
                <button type="submit" class="btn" id="route_search-btn">
                  <i class="material-icons">search</i>
                </button>
                <button type="button" onclick="q.value=''; this.form.submit()" class="btn" id="route_close-btn">
                  <i class="material-icons">close</i>
                </button>
            </div>
          </div>
        </form>
      </div>
      <div class="data-table">
        <table>
          <div class="table-head">
            <thead>
              <tr>
                  <th>OPR Code</th>
                  <th>Line of Business Name</th>
                  <th>More-info</th>
              </tr>
            </thead>
          </div>
          <div class="table-data">
            <tbody>
              {% for line in lines %}
              <div class="table-row">
                <tr>
                  <td>{{line.code}}</td>
                  <td>{{line.name}}</td>
                  <td>
                    <div class="btnlink">
                      <a href="/layer2/{{line.code}}/{{line.name}}"id="route_details-btn" class="btn">Details</a>
                    </div>
                  </td>
                </tr>
              </div>
              {% endfor %}
            </tbody>
          </div>
        </table>  
      </div>
      <ul>
        <div class="pageNum-row">
          {% if lines.prev_num %}
            <li class="waves-effect">
              <a href="{{ url_for('layer1_page', page=lines.prev_num, q=q)}}">
                <i  class="material-icons">
                  Previous
                </i>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#!">
                <i class="material-icons">Previous</i>
              </a>
            </li>
          {% endif %}

          {% for page_num in lines.iter_pages() %}
            {% if page_num %}
              {% if lines.page == page_num %}
                <li class="active blue">
                  <a href="#!">{{ page_num }}</a>
                </li>
              {% else %}
                <li class="waves-effect">
                  <a href="{{ url_for('layer1_page', page=page_num, q=q) }}">{{page_num}}</a>
                </li>
              {% endif %}
            {% else %}
              <li class="disabled"><a href="#!">...</a></li>
            {% endif %}
          {% endfor %}

          {% if lines.has_next %}
            <li class="waves-effect">
              <a href="{{url_for('layer1_page', page=lines.next_num, q=q)}}">
                <i class="material-icons">Next</i>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#!"><i class="material-icons">Next</i></a>
            </li>
          {% endif %}
        </div>
      </ul>
    </main>
  </body>
    
{% endblock %}